@{
    ViewData["Title"] = "Home Page";
}

<div style="display:flex; flex-direction:column;">
    @Html.ActionLink("сложение чисел в массиве","AddEverySecondOddNumber")
    @Html.ActionLink("сортировка списка","SortList")
    @Html.ActionLink("проверка на палиндром","CheckPalindrome")
</div>